<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>All Cities</title>
    <link rel="stylesheet" href="styles/styles.css">
  </head>
  <body>
    <div class ="container">
    <% cities.forEach (function (city){ %>
      <ul>
      <% for (var attr in city){ %>
        <li><%= city[attr] %></li>
    <% } %>
      </ul>
    <% }) %>
</div>
  </body>
</html>
