body {
  background-image: url(background.jpg);

}

#wrapper {
    width: 500px;
    margin: 0 auto;
}

#theX {
  font-size: 44;
}

#mainTitle {
  font-family: cursive;
  font-size: 40px;
  text-align: center;
  color: white;
  display: block;
  align-content: center;
  margin-left: auto;
    margin-right: auto;
    width: 6em

}

button {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: block;

}



#div .box {
font-size: 24;

}

#boardContainer {
  margin: 0 auto;

}


.box {

  border-color: white;
  border-style: solid;
  border-width: medium;
  height: 150px;
  width: 150px;
  display: inline-block;
  vertical-align: top;
  font-size: 42; !important
  text-align: center;
  opacity: .4;

}
/*
.row1 {

  display: table-cell;
}

.row2 {
  display: table-cell;

}

.row3 {
  display: table-cell;

}*/



#board {

  border-color: black;
  border-style: solid;
  border-width: medium;
