
#wrapper {
    width: 500px;
    margin: 0 auto;
}

#mainTitle {

  color: black;
  display: block;
  align-content: center;
  margin-left: auto;
    margin-right: auto;
    width: 6em

}

button {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: block;

}



#div .box {
font-size: 24;

}

#boardContainer {
  margin: 0 auto;

}


.box {

  border-color: black;
  border-style: solid;
  border-width: medium;
  height: 150px;
  width: 150px;
  display: inline-block;
  vertical-align: top;
font-size: 24;

}
/*
.row1 {

  display: table-cell;
}

.row2 {
  display: table-cell;

}

.row3 {
  display: table-cell;

}*/



#board {

  border-color: black;
  border-style: solid;
  border-width: medium;
