<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Müvie Hause 2.0</title>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>
<h1> Müvie Hause 2.0 </h1>

<div class="two-thirds column" class="movies">
  <button id="show">Movies!</button>
</div>
<div id="movies">
</div>

  <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.1.js"></script>
  <script type="text/javascript" src="/js/app.js"></script>
</body>
</html>
