<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Famous Cats</title>
  </head>
  <body>
    <div class ="container">
    <% cats.forEach (function (cats){ %>
      <ul>
      <% for (var attr in cats){ %>
        <li><%= cats[attr] %></li>
    <% } %>
      </ul>
    <% }) %>
</div>
  </body>
</html>
