<!doctype html>

<head>
  <% include ./partials/head %>
</head>

<body>
  <h2>Let's Roll Some Dice</h2>
  <div class="input">
    <input type="number" class="number"/>
    <button class="roll">Roll</button>
  </div>
  <div class="dice">
  </div>
</body>
