<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
          "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
  <head>
    <title>Weather</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
  </head>

  <body>
    <div class="container">
      
      <div class="row">
        <h3>City Info!</h3>
      </div>

      <ul>
        <li> Temperature: <%= temp %> </li>
        <li> Dexcription: <%= desc %> </li>
      </ul>
      
    </div>
  </body>
</html>

