<!doctype html>

<head>
  <meta charset="utf-8">
  
  <title>Calendar</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css"
  <link rel="stylesheet" href="/css/style.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.js"></script>
  <script src="/js/script.js"></script>

</head>

<body>
  <div class="container">
    <h3>Calendar</h3>
    <h5>Create a new event</h5>
    <input type="text" placeholder="Name">
    <input type="datetime-local">
    <button id="add">Add To My Calendar</button>

    <h5>My Events</h5>
    <ul class="events">
    </ul>
  </div>
</body>
