<!DOCTYPE html>

<html>

  <head>
    <title>Geo</title>
    <script src="script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.js"></script>
  </head>

  <body>
    <input type="text" placeholder="address">
    <input type="submit" value="Get Coordinates">
  </body>
</html>
