<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Weather</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
  </head>
  <meta charset="UTF-8">
  <title>Document</title>
<body>
 Hello city!
</body>
</html>
