<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
          "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
  <head>
    <title>Weather</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
  </head>

  <body>
    <div class="container">
      
      <div class="row">
        <h3>Weather</h3>
      </div>
      
      <div class="row">
        <form action="/city" method="get">
          Search By City: <input type="text" name="city" placeholder="City Name">
          <input type="submit" value="Search">
        </form>
      </div>
      
      <div class="row">
        <form action="/zip" method="get">
          Search By Zip: <input type="text" name="zip" placeholder="Zip Code">
          <input type="submit" value="Search">
        </form>
      </div>
      
    </div>
  </body>
</html>

