<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Presidents</title>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <link rel="stylesheet" href="css/styles2.css">

</head>
<body>
<h1> Prezzzidentz </h1>

<h5>Create a new president</h5>
<form id="presidentForm">
Name: <input type="text" placeholder="name">
Term Start Date: <input type="date" placeholder="term_start_date">
Term End Date:<input type="date" placeholder="term_end_date">

Political Party: <input type="text" placeholder="political_party">
Birth Location: <input type="text" placeholder="birth_location">
Birth Date: <input type="date" placeholder="birth_date">
Death Location: <input type="text" placeholder="death_location">
Death Date: <input type="text" placeholder="death_date">
Image Url: <input type="text" placeholder="img_url">
<button id="presidentForm" type="submit">Add My President</button>

</form>
<button id="show">Show Me My Presidents</button>


<div class="presidents">
  <!-- append the divs here! -->
</div>
<script src="https://code.jquery.com/jquery-2.2.1.js"></script>
<script type="text/javascript" src="/js/app2.js"></script>
</body>
</html>
