<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <meta charset="utf-8">
          <link rel="stylesheet" type="text/css" href="../css/styles.css">
    <title>Violations</title>
  </head>
  <body>
    <h2><%= welcome %> </h2>
    <p></p>
    <form action="/restaurants/results" method="get">
      <label for="zipcode">Zip Code</label>
      <input type="text" name="zipcode"/>
      <button type="submit">Search</button>
    </form>
  </body>
</html>
