<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Violations</title>
  </head>
  <body>
    <h2><%= hello %> </h2>
    <h1><%= extraCrap %>
    <h4><%= violationsRemoteData %></h4>
    <p> add search field here </p>
  </body>
</html>
